@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CSN';
  src: local('CSN'), url('../public/fonts/computer-says-no.ttf') format('truetype');
}


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

  body {
    background-color: #f1f8ff;
  }

  @media screen and (min--moz-device-pixel-ratio: 1.25),
       screen and (-o-min-device-pixel-ratio: 5/4),
       screen and (-webkit-min-device-pixel-ratio: 1.25),
       screen and (min-resolution: 120dpi) {
  /* CSS for zoom level 125% */
  html, body {
    zoom: 0.9; /* Adjust zoom level to counteract the 125% zoom */
    height: 110vh; /* Adjust height to fit 100vh at 125% zoom */
  }
  
}